@black: #000;
@measure: 20px;
 
body {
  background-color: @black;
}

.container {
  background-color: #fff;
  min-width: 350px;
} 

a {
  color: @black;
  font-weight: bold;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.heading {
  text-align: center;
}

#header_quotes {
text-align: center;
}

.quotes {
  padding-top: @measure;
  display: none;
}

.top_navbar {
  padding-top: @measure * 2;
}
.content_nav {
  padding-bottom: @measure;
}

.tech_p1 {
  @media all and (max-width: 992px) {  
    padding-top: @measure;
  }
}
  
.prose_p2 {
  @media all and (min-width: 992px) {  
    padding-bottom: @measure;
  }
}

.music_p1 {
  @media all and (max-width: 992px) {  
    padding-top: @measure * 2;
  } 
  @media all and (min-width: 992px) {  
    padding-top: @measure * 3;
  } 
}