body {
  background-color: #000000;
  text-align: center;
}
body a {
  color: #000000;
  font-weight: bold;
}
body p {
  text-align: justify;
}
body pre {
  text-align: left;
}
body footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
body #header_quotes {
  padding-top: 30px;
}
body .main_container {
  background-color: #ffffff;
  min-width: 400px;
}
body .page_heading {
  text-align: center;
}
body .quotes {
  display: none;
  margin: auto;
}
body .content_container {
  padding-bottom: 15px;
  min-width: 400px;
}
body .curly_brace {
  text-align: left;
}
body .github_color,
body .linkedin_color,
body .mail_color,
body .twitter_color,
body .obj-c_color,
body .swift_color,
body .ruby_color {
  display: none;
}
body .book {
  padding: 20px;
}
body .return {
  font-weight: bold;
}
body .icon {
  text-align: center;
}
body .top_icon {
  text-align: center;
}
body .left {
  text-align: left;
}
body .justify {
  text-align: justify;
}
#body_home .content_container {
  padding-top: 15px;
  padding-bottom: 60px;
}
#body_home .home_image {
  padding-top: 30px;
}
#body_home .home_images_bottom {
  margin-top: 30px;
}
#body_tech ol {
  text-align: justify;
}
#body_tech ol li {
  font-weight: bold;
}
#body_tech p {
  font-weight: normal;
}
#body_tech .book_info {
  text-align: center;
}
#body_tech .tab-pane {
  height: 400px;
  overflow: auto;
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
#body_tech .tech_img_left {
  padding-top: 15px;
  padding-bottom: 15px;
}
#body_tech .tech_img_right {
  padding-top: 15px;
  padding-bottom: 15px;
}
#body_tech .panel {
  text-align: left;
  border-radius: 15px;
}
#body_tech .panel_syntax_default {
  background-color: #b3b3b3;
  color: #ffffff;
  border-radius: 15px;
}
#body_tech .well {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}
#body_novel #novel_teaser_body {
  margin-top: 30px;
}
#body_novel #novel_reviews_panel {
  margin-top: 30px;
}
#body_novel .star_hover {
  color: #f0ad4e;
}
#body_novel .link_hover {
  color: #ffffff;
}
#body_resume #resume_background {
  background-color: #fff;
}
#body_resume #resume_body {
  background-color: #fff;
  border-radius: 15px;
  border: 0.5px solid #000;
  padding: 30px;
}
#body_resume #resume_body a,
#body_resume #resume_body p,
#body_resume #resume_body ul,
#body_resume #resume_body h3,
#body_resume #resume_body h4 {
  text-align: left;
}
#body_resume #resume_body a {
  color: #0000ff;
}
#body_resume #resume_body .resume_headers {
  text-align: left;
}
#body_resume #resume_body .resume_experience p {
  text-align: left;
}
#body_resume #resume_body .inner_category {
  font-weight: bold;
}
